{% extends 'musicrecs/base.html' %}
{% load time_filters %}

{% block title %}{{ track.track }} - Подробности{% endblock %}

{% block content %}
<h2 class="mb-4">{{ track.track }}</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title"><strong>Исполнитель:</strong> {{ track.artist }}</h5>
        <p class="card-text"><strong>Год:</strong> {{ track.year }}</p>
        <p class="card-text"><strong>Жанр:</strong> {{ track.genre }}</p>
        <p class="card-text"><strong>Длительность:</strong> {{ track.duration|ms_to_mmss }}</p>
        <p class="card-text"><strong>Темп:</strong> {{ track.tempo }}</p>
        <p class="card-text"><strong>Энергичность:</strong> {{ track.energy }}</p>
        <p class="card-text"><strong>Валентность:</strong> {{ track.valence }}</p>
        <p class="card-text"><strong>Танцевальность:</strong> {{ track.danceability }}</p>
        <p class="card-text"><strong>Акустичность:</strong> {{ track.acousticness }}</p>
        <p class="card-text"><strong>Инструментальность:</strong> {{ track.instrumentalness }}</p>
        <p class="card-text"><strong>Популярность:</strong> {{ track.popularity }}</p>
        <p class="card-text">
            <a href="https://zvuk.com/search?query={{ track.artist|urlencode }}+{{ track.track|urlencode }}" target="_blank" class="btn btn-outline-primary">
                Послушать на Zvuk.com
            </a>
        </p>
        {% if request.session.user_id %}
            {% if track.id in favorite_track_ids %}
            <!-- Удалить из избранного -->
            <form action="{% url 'remove_from_favorites' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ request.session.user_id }}" />
                <input type="hidden" name="track_id" value="{{ track.id }}" />
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                <button type="submit" class="btn btn-outline-danger">Удалить из избранного</button>
            </form>
            {% else %}
            <!-- Добавить в избранное -->
            <form action="{% url 'add_to_favorites' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ request.session.user_id }}" />
                <input type="hidden" name="track_id" value="{{ track.id }}" />
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                <button type="submit" class="btn btn-outline-success">Добавить в избранное</button>
            </form>
            {% endif %}
        {% endif %}

        <div class="d-inline">
            <form method="post" action="{% url 'get_track_recommendations' track.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Получить рекомендации</button>
            </form>
        </div>
    </div>
</div>


<a href="{{ request.GET.next|default:'/' }}" class="btn btn-secondary mt-3">Назад</a>
{% endblock %}
